# Node.js
node_modules/
dist/
build/
.npm/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/
env/
.env
.env.*
!.env.example

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

requirement.pdf

.env

./backend/env